<% if flash[:notice] %>
    <div id="notice"><%= flash[:notice] %></div>
<% end %>


<h1>This is where the application info goes</h1>
<h2>You have until yesterday to apply</h2>
<%= link_to "Apply Here", new_application_path %>