<h1>This will be the RampUp landing page</h1>
<h2>Project based program for high school students to learn web development skills from industry professionals<h2>
<%= link_to "Application Info", controller: "applications" %>